.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  width: 60%;
}

.card {
  flex-basis: calc(33.33% - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.avatar {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 10px;
}

h3 {
  margin: 0;
  color: #333;
}
